{% assign image_paths = include.images | split: ", " %}
{% assign gallery_height = include.height | default: "300" %}
{% assign alignment = include.alignment | default: "left" %}
{% assign caption = include.caption | default: "" %}


<div style="display: flex; align-items: center; justify-content: {{ alignment }}; gap: 20px;">
  
  <!-- Text on the left -->
  <div class="gallery-text">
    {{ caption }}
  </div>

  <!-- Images on the right -->
  <div class="image-gallery" style="--gallery-height: {{ gallery_height }}px; display: flex; gap: 10px;">
    {% for image_path in image_paths %}
      {% assign image_name = image_path | strip %}
      {% if image_name contains 'https://' %}
        <img 
          src="{{ image_name }}"
          alt="Web image"
          loading="lazy"
          style="height: var(--gallery-height);"
        />
      {% else %}
        {% assign page_url_without_index = page.url | remove: 'index' | remove: '.html' %}
        <img 
          src="{{ page_url_without_index }}{{ image_name }}" 
          alt="{{ image_name }}"
          loading="lazy"
          onerror="this.onerror=null;this.src=this.src.replace('.webp','.png').replace('.png','.webp');"
          style="height: var(--gallery-height);"
        />
      {% endif %}
    {% endfor %}
  </div>

</div>
